/* Action bar*/
ActionBar .action-bar-title {
    horizontal-align: center;
    font-size: 26;
    font-weight: normal
}

ActionBar {
    background-color: $dark-red;
    padding: 0 $page-margin;
}

ActionBar .fa{
    font-size: 26;
}