/* Action bar*/

ActionBar{

    background-color: $dark-red;
    padding: 0 $page-margin;
    margin: 0;

    .action-bar-title {
        horizontal-align: center;
        font-size: 26;
        font-weight: normal
    }

    .fa{
        font-size: 26;
    }

    NavigationButton{
        margin: 0;
        padding: 0;
    }


}