.btn {
    min-height: auto;
    color: $red;
    background-color: $light-grey;
    padding: 5;

    &.btn-primary{
        color: $white;
        background-color: $red;
    }
    &.btn-dark-grey{
        background-color: lighten($dark-grey, 10%);
        color: $white;
    }
    &.btn-grey{
        background-color: $light-grey;
        color: $primary;
    }
    &.btn-transparent{
        background-color: transparent;
        color: $primary;
    }
    &.btn-small{
        height: 50px;
        font-size: $font-size-default;
    }
    &.btn-rounded-sm{
        border-radius: 5;
    }
    .icon{
      font-size: 24;
    }
    
}
