.btn {
    min-height: auto;
    color: $red;
    background-color: $light-grey;
    padding: 15 10;

    &.btn-primary{
        color: $white;
        background-color: $red;
    }
    &.btn-grey{
        background-color: $light-grey;
        color: $primary;
    }
    &.btn-transparent{
        background-color: transparent;
        color: $primary;
    }
    .fa{
      font-size: 24;
      margin-right: 10;
    }
    
}
