
.fa {
   font-family: "FontAwesome";
}

.page-icon{
    font-size: 26;
    margin: 0;

    &.page-icon-red{
        color: $red;
    }
}

button.page-icon{
    border-color: transparent;
    border-width: 1;
    background-color: transparent;
    z-index:0;
    text-transform: capitalize;
}

