

.sidedrawer-left{    
    .sidedrawer-header{
        @include header-bar;
        height: 60;
        padding: 0;
        padding-top: 0;
        padding-bottom: 0;
        font-size: $font-size-large;
    }
    .sidedrawer-list-item{
        font-size: $font-size-medium;
        margin: 0;
    }
    .sidedrawer-list-item-active{
        color: $red;
    }
    
}
