// Colours
$red: #EE0510;
$dark-red: #CB0000;

$dark-grey:  darken(#737171, 20%);
$medium-grey: #706D6D;
$light-grey: #F1EFF0;
$white: #fff;


$background: $white;
$side-drawer-background: #fafafa;


// ActionBar
$ab-background: $red;
$ab-color: $white;
$ab-border: $dark-red;

// Text color
$primary: $dark-grey;

$font-size-default: 14;
$font-size-medium: 18;
$font-size-large: 22;

$page-margin: 10;