// Colours
$red: #EE0510;
$dark-red: #CB0000;
$dark-grey: #383636;
$softer-dark-grey: #706D6D;
$light-grey: #F1EFF0;
$white: #fff;




// ActionBar
$ab-background: $red;
$ab-color: $white;
$ab-border: $dark-red;

// Text color
$primary: $dark-grey;