// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';

// Custom colors
$background-dark: #F8F8F8 !default;
$background-light: #FFFFFF !default;


$page-icon-color: #D7D7D7 !default;

$red: #EE0510;
$dark-red: #CB0000;

$dark-grey:  #5C5A5A;
$medium-grey: #706D6D;
$light-grey: #F1EFF0;
$white: #fff;

// Sizes
$page-content-placeholder-font-size: 14;

/**
 * Theme variables overrides
**/

// Colors
$background: #fff;
$primary: $dark-grey;
$secondary: $dark-grey;
$disabled: $dark-grey;
// $accent: $accent-dark;
// $error: $error-light;

// SideDrawer
$item-color-android : #737373;
$item-active-background: #F8F8F8;
$item-active-color: $red;
$item-active-icon-color: $red;
$item-color-ios: $dark-grey;
$item-color-android: $dark-grey;

$side-drawer-header-background: $red;
$side-drawer-header-brand: #737373;
$side-drawer-background: #FFFFFF;

// ActionBar
$ab-background: $red;
$ab-color: $white;
$ab-border: $dark-red;

//Text colors
$headings-color: $dark-grey;
$secondary: $dark-grey;
$text-color: $dark-grey;

// Sizes
$font-size-small: 12;
$font-size-default: 14;
$font-size-medium: 18;
$font-size-large: 22;

$page-margin: 10;