// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

// Can't style segmented bar items, so make the whole bar red :(
SegmentedBar.segmented-bar{
  color: $white;
  background-color: $dark-red;
  selected-background-color: $white;
}

// Android puts the back button too far to the right, so remove the padding to fix
ActionBar{
    padding-left: 0;
}

.vertical-align {
  vertical-align: middle;
}